body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
/* First Section */


.top-section{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin: 0;
    padding: 100px;
    
    
    
}
.two-third-width{
    width: 70%;
    margin: auto;
}

h1{
    font-weight: 700;
    font-size: 65px;
    text-align: center;
    color: #FFFFFF;
}
.two-third-width p{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #FFFFFF;
    margin-top: -20px;

}
.center-align{
    text-align: center;
    margin-top: 50px;
}
.link-button{
    text-decoration: none;
    padding: 16px 12px;
    background-color: #FF5959;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 600;
}
/* Second Section */
.second-section{
    width: 60%;
    margin: auto;
    padding: 50px 0;

}

h2{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
.donation-amount p{
    font-size: 18px;
    text-align: center;
    color: #707070;
    margin-bottom: 40px;
}
.amount-box{
    display: flex;
    margin: 50px 0px;
}
.amount{
    padding: 25px 40px;
    background: #FAFAFA;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
}
#active-amount{
    padding: 25px 40px;
    background: #FFEEEE;
    margin-left: 1%;
    margin-right: 1%;
    border: 2px solid #FF5959;
    border-radius: 5px;
    
}
h3{
    font-size: 30px;
    font-weight: 700;
    color: #707070;
}
.font-color{
    color: #FF5959;
}
.other-amount{
    font-size: 18px;
    color: #B3B3B3;
    
    margin-top: 20px;
    border: none;
    
    
}

/*third Section */

.donate-plan{
    width: 80%;
    margin: auto;
}

.donate-plan p{
    text-align: center;
    font-size: 18px;
    padding: 0 250px;
    color: #666;
    margin-bottom: 50px;
}
.donation-reason{
    display: flex;
    width: 80%;
    margin: auto;
}
.brief-reason{
    padding: 70px 30px 50px 30px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
}
.brief-reason h4 {
    font-size: 25px;
    font-weight: 600;
}

.brief-reason p {
    color: #666;
}

.brief-reason i {
    font-size: 50px;
}

/*Fifth Section */

.my-update {
    width: 60%;
    margin: auto;
}
.update-text h1 {
    text-align: center;
    font-size: 45px;
    line-height: 50px;
    color: #333;

    font-weight: 600;
    margin-bottom: 0;

    margin-top: 200px;
}
.update-text p {
    font-size: 18px;
    padding-right: 100px;
    color: #666;
    margin-bottom: 50px;
    text-align: center;
    padding: 0 150px;
}
.double-button {
    padding: 80px 30px;
    background: #FFF4D6;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 100px;
}
.double-button input {
    background: #ddd;
    padding: 15px 40px 15px 15px;
    border: none;
    margin-right: 0px;
    border-radius: 5px;
}
.double-button button {
    background: salmon;
    padding: 15px 40px;
    border: none;
    margin-left: -5px;
    color: #fff;
    border-radius: 5px;
}

/*Footer */
footer{
    height: 150px;
    background-color:black ;
}
.align-footer{
    text-align: center;
    
    
}
.align-footer h1{
    font-size: 24px;
    color: #FF5959;
    padding-top: 50px;
    font-style: italic;
}
.align-footer p{
    color: whitesmoke;
}